<!DOCTYPE html>
<html>
<head>
    <title>Grades</title>
</head>
<body>
    <h1>Grades List</h1>
    <a href="/">Home</a>
    <table border="1">
        <tr>
            <th>Student Name</th>
            <th>Module Name</th>
            <th>Grade</th>
        </tr>
        <% grades.forEach(grade => { %>
            <tr>
                <td><%= grade.studentName %></td>
                <td><%= grade.moduleName %></td>
                <td><%= grade.grade %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
