<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>G00403503</h1>
    <ul>
        <li><a href="/students">Students</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/lecturers">Lecturers</a></li>
    </ul>
</body>
</html>
