<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
    <h1>Students List</h1>
    <a href="/">Home</a> | <a href="/students/add">Add Student</a>
    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        <% students.forEach(student => { %>
            <tr>
                <td><%= student.sid %></td>
                <td><%= student.name %></td>
                <td><%= student.age %></td>
                <td><a href="/students/edit/<%= student.sid %>">Edit</a></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
